@import '_variables';

body.is-reveal-open {
  overflow: hidden; }

.reveal-overlay {
  display: none;
  position: fixed;
	text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1005;
  background-color: rgba($white, 0.65);
  overflow-y: scroll;
}

.reveal {
  display: none;
  z-index: 1006;
  padding: $pad*2;

  background-color: $white;
  border: solid 10px $lightgrey;

  border-radius: $radiusPX;
  position: relative;
  top: 0;
  margin: auto;
  outline: none;

  width: 400px;

	.close-button {
		background: $action;
		color: $white;
		position: absolute;
		z-index: 2;
		top: -25px; right: -25px;
		padding: $pad/4 $pad/2;
    width: 45px; height: 45px;

		font: $font_b 1.25em/1 $fontfam;

		@include border_radius(100%);

    svg {
      position: relative;
      top: -2px;
      width: 10px; height: 10px;
    }

	}
}
  [data-whatinput='mouse'] .reveal {
    outline: 0; }
  @media screen and (min-width: 40em) {
    .reveal {
      min-height: 0; } }
  .reveal .column, .reveal .columns,
  .reveal .columns {
    min-width: 0; }
  .reveal > :last-child {
    margin-bottom: 0; }
  @media screen and (min-width: 40em) {
    .reveal {
      //display: inline-block !important;
      max-width: 75rem;
		}
		.is-reveal-open .reveal {
			display: inline-block !important;
		}
	}
  @media screen and (min-width: 40em) {
    .reveal .reveal {
      left: auto;
      right: auto;
      margin: 0 auto; } }
  .reveal.collapse {
    padding: 0; }
  @media screen and (min-width: 40em) {
    .reveal.tiny {
      width: 30%;
      max-width: 75rem; } }
  @media screen and (min-width: 40em) {
    .reveal.small {
      width: 50%;
      max-width: 75rem; } }
  @media screen and (min-width: 40em) {
    .reveal.large {
      width: 90%;
      max-width: 75rem; } }
  .reveal.full {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 100vh;
    min-height: 100vh;
    max-width: none;
    margin-left: 0;
    border: 0; }
  @media screen and (max-width: 39.9375em) {
    .reveal {
      top: 0;
      left: 0;
      width: 100%;
      max-width: none;
      margin-left: 0;
      border: 0; } }
  .reveal.without-overlay {
    position: fixed; }
