/* VARIABLES */

$action: #e73925;

$action_d: darken($action, 15%);
$action_l: lighten($action, 15%);

// General colors
$white: #ffffff;
$lightgrey: #e0e0e0;
$lightgrey2: #eeeeee;
$grey: #bdbdbd;
$darkgrey: #37474f;
$black: #263238;

// Social Media colors
$fb: #547bbd;
$fb_d: darken($fb, 15%);
$tw: #78ccf0;
$ig: #5c4038;
$pt: #ea5655;
$gp: #e76550;
$ta: #4b8437;
$yt: #e9644a;
$ta: #4b8437;
$ons: #09aba4;

$fontfam: 'HirukoPro-Book', Helvetica, Arial, serif;
$fontfam_b: 'HirukoPro-Bld', Helvetica, Arial, serif;
$fontfam_l: 'HirukoPro-Lt', Helvetica, Arial, serif;
$font_l: 300;
$font_n: 400;
$font_b: 700;

$titleFontSize: 4.5em;
$textFontSize: 1.5em;

$bodyStyle: $font_n 1em/1.25 'HirukoPro-Book', Helvetica, Arial, sans-serif;
$subTitleStyle: $font_n 1.25em/1 'HirukoPro-Bld', Helvetica, Arial, sans-serif;
$titleStyle: $font_n 2.5em/1.25 'HirukoPro-Bld', Helvetica, Arial, sans-serif;

$pad: 1em;
$hundred: 100%;
$radiusPX: 30px;

// mq
$sml: 30em;
$mdm: 52.063em;
$lrg: 65.063em;
$xl: 90.063em;

$belowGrid: 1300px;
//$xl: 120.063em;

/* MIXINS */

@mixin absoluteCenter($zIndex) {
  position: absolute;
  z-index: $zIndex;
  top: 0; bottom: 0; right: 0; left: 0;
  margin: auto;
}

@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
@mixin border_radius($br) {
	-webkit-border-radius: $br;
	-moz-border-radius: $br;
	border-radius: $br;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin animate($string) {
-webkit-animation: $string;
-moz-animation: $string;
-ms-animation: $string;
animation: $string;
}

@mixin box-shadow($top, $left, $blur, $lightpink, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $lightpink;
    -moz-box-shadow:inset $top $left $blur $lightpink;
    box-shadow:inset $top $left $blur $lightpink;
  } @else {
    -webkit-box-shadow: $top $left $blur $lightpink;
    -moz-box-shadow: $top $left $blur $lightpink;
    box-shadow: $top $left $blur $lightpink;
  }
}

@mixin rotate($deg, $iedeg) {
-webkit-transform: rotate($deg);
-moz-transform: rotate($deg);
-ms-transform: rotate($deg);
-o-transform: rotate($deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$iedeg);
}

@mixin skew($what) {
  -webkit-transform: skew($what);
  -moz-transform: skew($what);
  -o-transform: skew($what);
  -ms-transform: skew($what);
  transform: skew($what);
}

@mixin linear-gradient($direction, $color-stops) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
