/*
* Empty Wp
* 2016
*/
@import "_variables";
@import "_foundation";

@import "_modal";
@import "_slick";

@import "_home";
@import "_page";
@import "_single";
@import "_partials";


h1, h2, h3, h4, h5 {
	font: {
		weight: $font_b;
		family: $fontfam;
	}
	text-align: left;
	color: $black;

	margin: 0 0 $pad/3; padding: 0;
}

h1 { font-size: 1.75em; color: $action;
@media (max-width: $sml) { font-size: 1.25em }
}
h2 {	font-size: 1.25em; font-weight: $font_b; color: $grey;
@media (max-width: $sml) { font-size: 1em }
}
h3 {	font: { size: 1em; weight: $font_n } color: $grey;
@media (max-width: $sml) { font-size: 0.95em }
}
h4 {	font: { size: 0.95em; weight: $font_n } color: $action;
@media (max-width: $sml) { font-size: 0.9em }
}
h5 {	font-size: 0.9em }

p, li {
	font: $font_l 0.75em/1.5 $fontfam;
	color: $black;
}

p {
	margin: $pad/2 0 $pad;
	text-align: justify;
}

::selection {
	background: $action;
	color: $white;
}
::-moz-selection {
	background: $action;
	color: $white;
}

b, strong { font-weight: $font_b }
i, em { font-style: italic }

a { text-decoration: none; color: $action }

img { border: none }

hr {
	border: none;
	width: 100%;
	display: block;
	margin: 0 auto;
	height: 1px;
	background: $lightgrey;
	color: $lightgrey;
}

img, svg { max-width: 100% }

img {
	&.aligncenter { text-align: center; margin: 0 auto; display: block }
	&.alignleft { text-align: left; float: left }
	&.alignright { text-align: right; float: right }
}

[class*="column"] + [class*="column"]:last-child { float: left }

.row { max-width: 92em }
.row.nopad { padding: 0 }
.row.nopad > .columns { padding: 0 }

label {
	font: $font_n 1em/1 $fontfam;
	color: $black;
	margin: $pad/4 0;
}

form {
	input[type="text"],
	textarea,
	input[type="password"],
	input[type="email"] {
		width: 100%;
		background: $white;
		border: none;
		padding: $pad/2;
		color: $black;
		outline: none;
		font: $font_l 1em/1 $fontfam;
		@include box-shadow(0, 0, 0, $white, $inset: false);
		margin-bottom: $pad;
		@include border_radius(5px);

		&:focus {
			background: $lightgrey;
			color: $black;
			outline: none;
			@include box-shadow(0, 0, 0, $white, $inset: false);
		}
	}
	input[type="submit"] {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1em;
		margin: 0 auto;
		cursor: pointer;
	}
	textarea { min-height: 200px }
} // form

.btn {
	background: $action;
	color: $white;
	padding: $pad $pad*2;
	display: inline-block;

	border: none;
	border-bottom: solid 2px $action_d;

	@include border_radius($radiusPX);

	@include transition(background 0.25s ease-in);

	&:hover {
		background: $action_d;
		@include transition(background 0.25s ease-in);
	}

	&.blck {
		background: $black;
		color: $white;
		&:hover {
			background: $action;
		}
	}
}

/* *****************************************
Structure styles
***************************************** */
body {
	background: $white;
	font: {
		family: $fontfam;
		size: 100%;
		weight: $font_n;
	}
}

#progressbar {
	width: 0%; height: 8px;
	display: none;
	background: $black;
	position: fixed;
	z-index: 10;
	top: 0; left:0;
} // progressbar

#hdr {
	background: $lightgrey;
	width: 90%;
	margin: auto;
	padding: $pad;

	.logo {
		width: 200px; height: 200px;
		float: left;
	}

	.main-menu {
		margin: $pad*3 0 0; padding: 0;
		float: right;
		li {
			list-style-type: none;
			display: inline-block;
			margin-left: $pad;
			a {
				display: block;
				padding: $pad;
			}
		}
	}

	@include clearfix();
} // header

#global-wrapper {
	width: 90%;
	padding: $pad*2 $pad;
	margin: auto;
} // global-wrapper
